#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    font-family: 'Sofia Sans Condensed', sans-serif;
    color:#37829b;
    margin-top: 8vh;
}

.skillTitle{
    margin-bottom: 1.5vh;
    font-size: 4rem;
    font-weight:700;
    color: #125065;
}

.skillDesk{
    font-weight: 400;
    max-width: 60vw;
    font-size: 2rem;
    padding:0 1vw;
}

.skillBars{
    margin-top: 7vh;
    width:100vw;
    max-width: 60vw;
    color:#FFD9D2;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap:5vh;
}

.skillBar{
    display: flex;
    align-items: center;
    background-color: #37829b;
    border-radius: 2vh;
    gap:2vw;
    padding: 2vh 2vw;
}

.skillBarText{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillBarText>h2{
    font-size: 2rem;
    color:#fac8bf;
}

.skillBarText>p{
    font-size: 1.5rem;
}

.skillImg{
    object-fit: cover;
    height: 10vh;
}

@media screen and (max-width:1200px){
    .skillImg{
        height: 5vh;
    }
}

@media screen and (max-width:940px){
    .skillTitle{
        font-size: 7vw;
    }
    .skillDesk{
        max-width: 70vw;
        font-size: 4vw;
    }
    .skillBarText>h2{
        font-size: 4vw;
    }
    .skillBars{
        max-width: 70vw;
    }
    .skillImg{
        height: 7vh;
    }
}

@media screen and (max-width:620px){
    .skillTitle{
        font-size: 9vw;
    }
    .skillDesk{
        max-width: 80vw;
        font-size: 6vw;
    }
    .skillBarText>h2{
        font-size: 5vw;
    }
    #skills {
        max-width: 80vw;
    }
    .skillBars{
        max-width: 80vw;
    }
    .skillImg{
        height: 6vh;
    }
}