.footer{
    width: 100vw;
    height:7vh;
    background: #f1c7c0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
    color:#125065;
}